.container {
  min-height: 100vh;
  padding: 3rem 1rem;
  background: linear-gradient(to bottom, #000, #0e0e0e, #1b1b1b);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 800px;
  width: 100%;
}

.title {
  font-size: 2.75rem;
  font-family: serif;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
  border-bottom: 1px solid #444;
  padding-bottom: 0.5rem;
}

.subtitle {
  color: #aaa;
  margin-bottom: 2rem;
  font-style: italic;
}

.formBox {
  background: #111;
  border: 1px solid #444;
  border-radius: 1rem;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.input {
  background: #000;
  border: 1px solid #444;
  color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

.submit {
  background: linear-gradient(to right, #064e3b, #3b0764, #000);
  color: white;
  font-weight: bold;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.2s ease all;
  cursor: pointer;
}

.submit:hover {
  opacity: 0.85;
}