.section {
  position: relative;
  padding: 6rem 1.5rem;
  overflow: visible;
  scroll-margin-top: 80px;
  text-align: center;
}

.heading {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  color: #ccc;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}