.playerRoot {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.offlineGate {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 2rem;
}

.offlineGate h2 {
  font-size: 2rem;
  opacity: 0.7;
}