.walletContainer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.walletBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.visibilityButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}