:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}   

html,
body {
  height: 100%; /* Ensure it covers the viewport */
  background-size: cover;
  color: #ffffff; /* Text contrast */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
